.popup_container {
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  position: fixed;
  z-index: 30;
  top: 0em;
  border-radius: 0.5em;
  animation-name: slide-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
}
.popup {
  height: 100%;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 30;
  top: 0em;
  border-radius: 0.5em;
  animation-name: slide-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  background-color: transparent;
}
.popup_backdrop {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 3;
  top: 0em;
  border-radius: 0.5em;
  animation-name: slide-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;

  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.766);
}
.popup_backdrop.dark {
  background-color: transparent;
}
@keyframes slide-in {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.close_modal_icon {
  font-size: 2em;
  width: 1em;
  color: rgb(109, 109, 109);
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  padding: 0.2em;
  position: absolute;
  z-index: 10;
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.392);
  background-color: white;
  opacity: 0.8;
}

.close_modal_icon.dark {
  color: rgb(255, 255, 255);
  background-color: rgba(123, 123, 123, 0.717);
  opacity: 0.8;
}
