.search {
  background-color: transparent;
  height: 40vh;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  z-index: 2;
  transition: all 0.5s ease-in-out;
  padding: 0 1em;
}
.search.light {
  color: rgb(35, 35, 35);
}
.search_container {
  height: 40vh;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );

  background-size: 200% 200%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.search_backdrop {
  background-color: rgba(0, 0, 0, 0.81);
  height: 40vh;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  transition: all 0.5s ease-in-out;
  position: absolute;
  z-index: 1;
  backdrop-filter: blur(20px);
}
.search_backdrop.light {
  background-color: rgba(255, 255, 255, 0.881);
}
.heading {
  font-size: 2em;
  text-align: center;
  font-weight: 600;

  animation: zoomSettle 1s ease-in-out;
}

@keyframes zoomSettle {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.subheading {
  font-size: 1em;
  text-align: center;
  font-weight: 800;
  opacity: 0.8;
}
@media only screen and (min-device-width: 481px) and (max-device-width: 767px) {
  .search_input {
    width: 80%;
    font-size: 1.1em;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .subheading {
    font-size: 1.2em;
  }
  .heading {
    font-size: 2.2em;
  }
  .search_bar {
    width: 80%;
    align-self: center;
  }
}

@media only screen and (min-device-width: 1025px) and (max-device-width: 1366px) {
  .subheading {
    font-size: 1.3em;
  }
  .heading {
    font-size: 2.5em;
  }
  .search_bar {
    width: 80%;
    align-self: center;
  }
}

@media only screen and (min-device-width: 1367px) and (max-device-width: 3024px) {
  .subheading {
    font-size: 1.5em;
  }
  .heading {
    font-size: 2.8em;
  }
  .search_bar {
    width: 80%;
    align-self: center;
  }
}
